.header {
    background-color: #1e1e1e; /* Dark background for the navbar */
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin: 0 1rem;
  }
  
  .navItem a {
    color: #f4f4f4; /* Light text color */
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navItem a:hover {
    background-color: #575757; /* Slightly lighter background on hover */
  }